.playlist-search-container {
  min-height: 100vh;
  background: #121212;
  margin-left: 15rem;
}
.playlist-search-container h1 {
  color: white;
  font-size: 1.3rem;
  padding: 1rem 2rem;
}
.playlist-search-container .playlists-container {
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.playlist-search-container .playlists-container .playlist {
  background: #161616;
  width: 15%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
.playlist-search-container .playlists-container .playlist .playlist-image {
  position: relative;
}
.playlist-search-container .playlists-container .playlist .playlist-image:hover .play-icon-button {
  opacity: 1;
  bottom: 1rem;
}
.playlist-search-container .playlists-container .playlist .playlist-image img {
  width: 100%;
}
.playlist-search-container .playlists-container .playlist .playlist-image .play-icon-button {
  position: absolute;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background: #1DB954;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.5rem;
  right: 1rem;
  transition: all 0.5s ease;
  opacity: 0;
  cursor: default;
}
.playlist-search-container .playlists-container .playlist .playlist-image .play-icon-button img {
  width: 1rem;
  height: 1rem;
  filter: invert(1);
}
.playlist-search-container .playlists-container .playlist .playlist-image .play-icon-button:hover {
  transform: scale(1.1);
}
.playlist-search-container .playlists-container .playlist h1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0;
}
.playlist-search-container .playlists-container .playlist h2 {
  color: white;
  opacity: 0.8;
  font-size: 0.8rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
.playlist-search-container .playlists-container .playlist:hover {
  background: #282828;
}

@media screen and (max-width: 1300px) {
  .playlist-search-container .playlists-container .playlist {
    width: 18%;
  }
}
@media screen and (max-width: 1000px) {
  .playlist-search-container .playlists-container .playlist {
    width: 22%;
  }
  .playlist-search-container .playlists-container .playlist h1 {
    font-size: 0.9rem;
  }
  .playlist-search-container .playlists-container .playlist h2 {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 850px) {
  .playlist-search-container {
    margin-left: 0;
  }
  .playlist-search-container .playlists-container .playlist {
    width: 30%;
  }
  .playlist-search-container .playlists-container .playlist h1 {
    font-size: 1.1rem;
  }
  .playlist-search-container .playlists-container .playlist h2 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .playlist-search-container .playlists-container .playlist {
    width: 45%;
  }
  .playlist-search-container .playlists-container .playlist h1 {
    font-size: 0.9rem;
  }
  .playlist-search-container .playlists-container .playlist h2 {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 350px) {
  .playlist-search-container .playlists-container .playlist {
    width: 95%;
  }
  .playlist-search-container .playlists-container .playlist h1 {
    font-size: 1.1rem;
  }
  .playlist-search-container .playlists-container .playlist h2 {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=PlaylistsSearch.css.map */
