.songs-search-container {
  min-height: 100vh;
  background: #121212;
  margin-left: 15rem;
}
.songs-search-container h1 {
  color: white;
  padding: 1rem 2rem;
  font-size: 1.3rem;
}
.songs-search-container .playlist-songs-category {
  display: grid;
  grid-template-columns: 2rem 55% 33% 5%;
  margin-left: 2rem;
  margin-right: 3rem;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 1rem;
}
.songs-search-container .playlist-songs-category h1 {
  padding: 0;
}
.songs-search-container .playlist-songs-category h1 {
  color: white;
  opacity: 0.8;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.songs-search-container .playlist-songs-category h1:nth-child(1) {
  font-weight: 600;
  font-size: 0.9rem;
  text-align: right;
}
.songs-search-container .playlist-songs-category h1:nth-child(2) {
  margin-left: 0.8rem;
}
.songs-search-container .playlist-songs-category .category-length {
  display: flex;
  justify-content: flex-end;
}
.songs-search-container .playlist-songs-category .category-length img {
  filter: invert(1);
  opacity: 0.8;
  width: 1.3rem;
  height: 1.3rem;
}
.songs-search-container .playlist-song {
  display: grid;
  grid-template-columns: 2rem 55% 33% 5%;
  margin-left: 2rem;
  margin-right: 3rem;
  align-items: center;
  padding: 0.5rem 0;
  border-radius: 0.3rem;
}
.songs-search-container .playlist-song h1 {
  padding: 0;
}
.songs-search-container .playlist-song h1, .songs-search-container .playlist-song h2 {
  color: white;
  font-size: 0.9rem;
}
.songs-search-container .playlist-song .song-order {
  position: relative;
}
.songs-search-container .playlist-song .song-order h1 {
  text-align: right;
  opacity: 0.8;
  font-size: 1rem;
}
.songs-search-container .playlist-song .song-order img {
  width: 1rem;
  height: 1rem;
  filter: invert(1);
  position: absolute;
  right: 0;
  visibility: hidden;
  z-index: 2;
}
.songs-search-container .playlist-song .song-artist-photo {
  padding-left: 0.8rem;
  display: flex;
}
.songs-search-container .playlist-song .song-artist-photo img {
  width: 2.5rem;
  height: 2.5rem;
}
.songs-search-container .playlist-song .song-artist-photo .artist {
  margin-left: 1rem;
  overflow: hidden;
}
.songs-search-container .playlist-song .song-artist-photo .artist h1 {
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.songs-search-container .playlist-song .song-artist-photo .artist h2 {
  opacity: 0.8;
  font-weight: 500;
  font-size: 0.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.songs-search-container .playlist-song .song-album h1 {
  opacity: 0.8;
  font-size: 0.8rem;
  font-weight: 500;
}
.songs-search-container .playlist-song .song-length {
  position: relative;
}
.songs-search-container .playlist-song .song-length h1 {
  opacity: 0.8;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: right;
}
.songs-search-container .playlist-song .song-length img {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  filter: invert(1);
  width: 1rem;
  height: 1rem;
  left: 0rem;
  opacity: 0.8;
}
.songs-search-container .playlist-song .song-length img:hover {
  opacity: 1;
}
.songs-search-container .playlist-song:hover {
  background: rgba(255, 255, 255, 0.08);
}
.songs-search-container .playlist-song:hover .song-order h1 {
  visibility: hidden;
}
.songs-search-container .playlist-song:hover .song-order img {
  visibility: visible;
}
.songs-search-container .playlist-song:hover .song-artist-photo h2 {
  opacity: 1;
}
.songs-search-container .playlist-song:hover .song-album h1 {
  opacity: 1;
}
.songs-search-container .playlist-song:hover .song-length img {
  visibility: visible;
}

@media screen and (max-width: 1500px) {
  .songs-search-container .playlist-song .song-length img {
    left: -1rem;
  }
}
@media screen and (max-width: 1200px) {
  .songs-search-container .playlist-songs-category {
    grid-template-columns: 2rem 60% 28% 5%;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .songs-search-container .playlist-song {
    grid-template-columns: 2rem 60% 28% 5%;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .songs-search-container .playlist-song .song-length img {
    left: -2rem;
  }
}
@media screen and (max-width: 850px) {
  .songs-search-container {
    margin-left: 0;
  }
  .songs-search-container .playlist-song .song-artist-photo .artist h1 {
    font-size: 0.8rem;
  }
  .songs-search-container .playlist-song .song-artist-photo .artist h2 {
    font-size: 0.7rem;
  }
  .songs-search-container .playlist-song .song-album h1 {
    font-size: 0.7rem;
  }
  .songs-search-container .playlist-song .song-length img {
    display: none;
  }
  .songs-search-container .playlist-song .song-length h1 {
    font-size: 0.8rem;
  }
  .songs-search-container .playlist-song h2 {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 600px) {
  .songs-search-container .playlist-songs-category {
    grid-template-columns: 2rem 83% 5%;
  }
  .songs-search-container .playlist-songs-category h1:nth-child(3) {
    display: none;
  }
  .songs-search-container .playlist-song {
    grid-template-columns: 2rem 83% 5%;
  }
  .songs-search-container .playlist-song .song-artist-photo {
    padding-right: 1rem;
  }
  .songs-search-container .playlist-song .song-album {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .songs-search-container .playlist-songs-category .category-length {
    display: none;
  }
  .songs-search-container .playlist-song .song-artist-photo {
    padding-right: 0;
  }
  .songs-search-container .playlist-song .song-length {
    display: none;
  }
}

/*# sourceMappingURL=SongsSearch.css.map */
